body {
  background-image: url("assets/portal-background.jpeg");
}

#header {
  text-align: center;
  color: white;
}

.portals {
  height: 10em;
  margin: 3em;
}

#container {
  position: fixed;
  top: 50%;
  right: 5%;
}
